{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <a href="{{ path('add_category') }}">
        {{ 'category.new' | trans }}
    </a>
    <br>
    <a href="{{ path('article_index') }}">
        {{ 'article' | trans }}
    </a>
    <br>

{% endblock %}